<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lefanfs.apicenter.dao.SysAdMapper" >
  <resultMap id="BaseResultMap" type="com.lefanfs.apicenter.model.SysAd" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="ad_code" property="adCode" jdbcType="VARCHAR" />
    <result column="ad_des" property="adDes" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="delete_flag" property="deleteFlag" jdbcType="INTEGER" />
    <result column="channel_id" property="channelId" jdbcType="INTEGER" />
    <result column="channel_name" property="channelName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, ad_code, ad_des, create_time, delete_flag, channel_id, channel_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from sys_ad
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_ad
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lefanfs.apicenter.model.SysAd" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_ad (ad_code, ad_des, create_time, 
      delete_flag, channel_id, channel_name
      )
    values (#{adCode,jdbcType=VARCHAR}, #{adDes,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{deleteFlag,jdbcType=INTEGER}, #{channelId,jdbcType=INTEGER}, #{channelName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lefanfs.apicenter.model.SysAd" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_ad
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="adCode != null" >
        ad_code,
      </if>
      <if test="adDes != null" >
        ad_des,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
      <if test="channelId != null" >
        channel_id,
      </if>
      <if test="channelName != null" >
        channel_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="adCode != null" >
        #{adCode,jdbcType=VARCHAR},
      </if>
      <if test="adDes != null" >
        #{adDes,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="channelId != null" >
        #{channelId,jdbcType=INTEGER},
      </if>
      <if test="channelName != null" >
        #{channelName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lefanfs.apicenter.model.SysAd" >
    update sys_ad
    <set >
      <if test="adCode != null" >
        ad_code = #{adCode,jdbcType=VARCHAR},
      </if>
      <if test="adDes != null" >
        ad_des = #{adDes,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="channelId != null" >
        channel_id = #{channelId,jdbcType=INTEGER},
      </if>
      <if test="channelName != null" >
        channel_name = #{channelName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lefanfs.apicenter.model.SysAd" >
    update sys_ad
    set ad_code = #{adCode,jdbcType=VARCHAR},
      ad_des = #{adDes,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      delete_flag = #{deleteFlag,jdbcType=INTEGER},
      channel_id = #{channelId,jdbcType=INTEGER},
      channel_name = #{channelName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>